* {
  box-sizing: border-box;
  font-size: calc(0.8rem + 0.3vw);
}

div {
  display: flex;
}

button {
  display: flex;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: hsl(220,90%,70%);
}

input {
  padding: 0.5rem 1rem;
}

button:hover {
  background-color: hsl(240,95%,65%);
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}